.App {
  text-align: center;
}

body {
  padding: 50px;
  background-color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
